*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#container{
    background-color: bisque;
}
#table{
    border: 0.5px solid blue;
    width: 70%;
    height: 25%;
    margin: 10rem auto 10rem ;
    background-color: rgb(226, 239, 239);


}
.kart{
    background-color: darkgrey;
}
td{
    width: 20%;
    text-align: center;
    text-transform: capitalize;
    font-variant: inherit initial;


}
